@model IEnumerable<CVSante.Models.UserParamedic>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Gestion de la compagnie</h2>
<form asp-action="SaveCompanyManagement" asp-controller="Admin" method="post" class="form-horizontal">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Employé</th>
                <th>Matricule</th>
                <th>Rôle</th>
                <th>Actif</th>
                <th>Retirer de la compagnie</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var employee in Model)
            {
                <tr>
                    <td>@employee.Nom</td>
                    <td>@employee.Matricule</td>
                    <td>
                        <select class="form-control" asp-for="@employee.SelectedRole">
                            @foreach (var role in employee.FkRoles)
                            {
                                <option value="@role.FkRoles" @(employee.SelectedRole == role.RolesName ? "selected" : "")>@role.RolesName</option>
                            }
                        </select>
                    </td>
                    <td><input type="checkbox" asp-for="@employee.ParamIsActive" /></td>
                    <td>
                        <button type="submit" asp-action="RemoveFromCompany" asp-route-id="@employee.FkIdentityUserNavigation" class="btn btn-danger">Retirer</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Sauvegarder</button>
        <button type="button" class="btn btn-secondary" onclick="location.href='@Url.Action("Index", "Admin")'">Annuler</button>
        <a asp-area="" asp-controller="Admin" asp-action="ManageRoles" class="btn btn-primary">Gestion des rôles</a>
    </div>
</form>


@* <h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prenom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ville)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telephone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ParamIsActive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Matricule)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FkCompanyNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FkIdentityUserNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prenom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ville)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telephone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ParamIsActive)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Matricule)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FkCompanyNavigation.IdComp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FkIdentityUserNavigation.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ParamId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ParamId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ParamId">Delete</a>
            </td>
        </tr>
}
    </tbody>
 *@</table>
